@import '../../variables/colors.scss';
@import '../../variables/mixins.scss';


.user-card {
  background-color: #fff;
  width: 240px;

  .header {
    padding: 16px;
    border-bottom: 2px solid $separator-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .driver-id {
      font-size: 12px;
      color: $separator-color;

      .id-area {
        color: $primary-color;
        margin-left: 8px;
      }
    }

    .fas {
      color: $separator-color;
    }
  }

  .body {
    padding: 16px;

    .pict-container {
      border-radius: 50%;
      overflow: hidden;
      width: 80px;
      height: 80px;
      margin-bottom: 24px;
      
      img {
        height: 100%;
      }
    }

    .label {
      font-size: 12px;
      color: rgb(146, 146, 146);
      margin-top: 16px;
    }

    .value {
      font-size: 14px;
    }
  }
}

@include small-mobile-view() {
  .user-card {
    width: 100%;

    .body {
      display: flex;
      column-gap: 12px;
      justify-content: space-between;
      align-items: flex-start;

      .pict-container {
        flex-shrink: 0;
      }

      .info-container {
        width: 80%;
      }

      .label.email, .label.dob, .value.email, .value.dob {
        display: none;
      }
    }
  }
}