@import '../../variables/colors.scss';
@import '../../variables/mixins.scss';

.navbar {
  display: flex;
  height: 80px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;

  .hamburger-menu {
    display: none;
  }

  .logo {
    width: 120px;
  }

  .user-info {
    display: flex;
    align-items: center;

    .user-name {
      margin-left: 12px;
      color: $primary-color;
    }

    .user-avatar {
      width: 32px;
      height: 32px;
      overflow: hidden;
      margin-left: 16px;
      border-radius: 50%;
      position: relative;

      img {
        height: 100%;
      }
    }
  }
}

@include mobile-view() {
  .navbar {
    justify-content: flex-start;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 999;

    .hello {
      display: none;
    }

    .hamburger-menu {
      display: block;
      margin-right: 20px;
      border: 0;
      background: none;
      font-size: 24px;
      cursor: pointer;
      color: darken($separator-color, 30);
    }

    .logo {
      width: 100%;

      img {
        width: auto;
        height: 32px;
        max-height: calc(10vw);
      }
    }
  }
}